.container {
    height: 90%;
    display: flex;
    justify-content: center;
}

.loader {
    margin: 0;
    padding: 0;
    height: 60%;
    display: block;
    text-align: center;
    font-weight: 500;
}

.movies {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 5% auto;
    overflow-x: auto;
}

.movies::-webkit-scrollbar {
    height: 10px;
}
.movies::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.movies::-webkit-scrollbar-track {
    background-color: #ffffff60;
    border-radius: 10px;
}